body
{
	background-color: #303030;
	color: #000000;
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	
}

#container
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  
}



.rectangle
{
	width: 960px;
	height: 78px;

	background-color: #0d0d0d;
	
}

.square
{
	margin-top:20px;
	width: 960px;
	height:550px;
	background-color: #ffffff;
	color: #000000;
	font-size: 18px;
}

.divReturnAddress
{
text-align: left;
float: right;
margin: 15px;
}

.divSubject
{
	clear: both;
    font-weight: bold;
    padding-top: 80px;
	margin: 15px;
	
}

.divContents
{
	
	margin: 15px;
	
	
	
}


.divAdios {
                float: right;
                padding-top: 50px;
				margin: 15px;
            }






	
	










